<header id="header">
    <h1>
        <a href="#" class="image avatar"><img src="{{ .Site.BaseURL }}images/{{ .Site.Params.sidebar.avatar }}" alt="" /></a>
        <span id="title">Tracy L.</span>
        <span id="subtitle">Believe you can and you're halfway there</span>
    </h1>
    <ul class="social">
        <li><a href="//twitter.com/tracycodes" target="_blank"><span class "label">Twitter</span></a></li>
        <li><a href="//github.com/tracycodes" target="_blank"><span class "label">Github</span></a></li>
        <li><a href="//linkedin.com/in/tracy-livengood-39b29210" target="_blank"><span class "label">LinkedIn</span></a></li>
    </ul>
</header>